{
  "lat": "$util.escapeJavaScript($input.params('lat')).replaceAll("\\'","'")",
  "lng": "$util.escapeJavaScript($input.params('lng')).replaceAll("\\'","'")",
  "radius": "$util.escapeJavaScript($input.params('radius')).replaceAll("\\'","'")",
  "bloodGroup": "$util.escapeJavaScript($input.params('bloodGroup')).replaceAll("\\'","'")",
  "cursor": "$util.escapeJavaScript($input.params('cursor')).replaceAll("\\'","'")",
  "pageSize": "$util.escapeJavaScript($input.params('pageSize')).replaceAll("\\'","'")",
  "countryCode": "$util.escapeJavaScript($input.params().header.get('CloudFront-Viewer-Country')).replaceAll("\\'","'")",
  "apiGwRequestId": "$context.requestId",
  "cloudFrontRequestId": "$util.escapeJavaScript($input.params('X-Amz-Cf-Id')).replaceAll("\\'","'")"
}
