{
  "seekerId": "$context.authorizer.claims['custom:userId']",
  "cloudFrontRequestId": "$util.escapeJavaScript($input.params('X-Amz-Cf-Id')).replaceAll("\\'","'")",
  "apiGwRequestId": "$context.requestId",
  "requestPostId": "$util.escapeJavaScript($input.params('requestPostId')).replaceAll("\\'","'")",
  "createdAt": "$util.escapeJavaScript($util.urlDecode($input.params('createdAt'))).replaceAll("\\'","'")"
}