{
  "userId": "$context.authorizer.claims['custom:userId']",
  "cloudFrontRequestId": "$input.params('X-Amz-Cf-Id')",
  "apiGwRequestId": "$context.requestId",
  "city": "$input.params('city')"
  #if($input.params('bloodGroup') != '')
    , "requestedBloodGroup": "$input.params('bloodGroup')"
  #end
}