#set($inputRoot = $input.path('$'))
{
  "donorId": "$context.authorizer.claims['custom:userId']",
  "cloudFrontRequestId": "$util.escapeJavaScript($input.params('X-Amz-Cf-Id')).replaceAll("\\'","'")",
  "apiGwRequestId": "$context.requestId",
  "requestPostId": "$util.escapeJavaScript($inputRoot.requestPostId).replaceAll("\\'","'")",
  "seekerId": "$util.escapeJavaScript($inputRoot.seekerId).replaceAll("\\'","'")",
  "createdAt": "$util.escapeJavaScript($inputRoot.createdAt).replaceAll("\\'","'")",
  "status": "$util.escapeJavaScript($inputRoot.status).replaceAll("\\'","'")"
}
