#set($inputRoot = $input.path('$'))
{
  "donorId": "$context.authorizer.claims['custom:userId']",
  "cloudFrontRequestId": "$input.params('X-Amz-Cf-Id')",
  "apiGwRequestId": "$context.requestId",
  "requestPostId": "$inputRoot.requestPostId",
  "seekerId": "$inputRoot.seekerId",
  "createdAt": "$inputRoot.createdAt",
  "status": "$inputRoot.status"
}
