#set($inputRoot = $input.path('$'))
{
  "seekerId": "$context.authorizer.claims['custom:userId']",
  "cloudFrontRequestId": "$util.escapeJavaScript($input.params('X-Amz-Cf-Id')).replaceAll("\\'","'")",
  "apiGwRequestId": "$context.requestId",
  "donorIds": $inputRoot.donorIds,
  "requestPostId": "$util.escapeJavaScript($inputRoot.requestPostId).replaceAll("\\'","'")",
  "requestCreatedAt": "$util.escapeJavaScript($inputRoot.requestCreatedAt).replaceAll("\\'","'")"
}
