{
  "userId": "$context.authorizer.claims['custom:userId']",
  "countryCode": "$util.escapeJavaScript($input.params().header.get('CloudFront-Viewer-Country')).replaceAll("\\'","'")",
  "cloudFrontRequestId": "$util.escapeJavaScript($input.params('X-Amz-Cf-Id')).replaceAll("\\'","'")",
  "apiGwRequestId": "$context.requestId",
  "input": "$util.escapeJavaScript($input.params('input')).replaceAll("\\'","'")",
  "types": "$util.escapeJavaScript($input.params('types')).replaceAll("\\'","'")"
}
