{
  "userId": "$context.authorizer.claims['custom:userId']",
  "cloudFrontRequestId": "$input.params('X-Amz-Cf-Id')",
  "apiGwRequestId": "$context.requestId",
  "address": "$input.params('address')",
}