{
  "userId": "$context.authorizer.claims['custom:userId']",
  "cloudFrontRequestId": "$util.escapeJavaScript($input.params('X-Amz-Cf-Id')).replaceAll("\\'","'")",
  "apiGwRequestId": "$context.requestId",
  "address": "$util.escapeJavaScript($input.params('address')).replaceAll("\\'","'")"
}
