#set($inputRoot = $input.path('$'))
{
  "userId": "$context.authorizer.claims['custom:userId']",
  "cloudFrontRequestId": "$input.params('X-Amz-Cf-Id')",
  "apiGwRequestId": "$context.requestId",
  "deviceToken": "$inputRoot.deviceToken",
  "platform": "$inputRoot.platform"
}