{
  "userId": "$context.authorizer.claims['custom:userId']",
  "channelId": "$util.urlDecode($input.params('channelId'))",
  "apiGwRequestId": "$context.requestId",
  "cloudFrontRequestId": "$input.params('X-Amz-Cf-Id')"
}
