name: "Stage Deployment"

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.ref }}

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  handle-docker-image:
    name: Handle Docker Image
    uses: ./.github/workflows/docker-image.yml
    secrets: inherit

  lint-test-security-checks:
    name: Lint, Test and Security Check
    needs: [handle-docker-image]
    uses: ./.github/workflows/ci-checks.yml
    secrets: inherit
    with:
      runner_image_name: ${{ needs.handle-docker-image.outputs.runner_image_name }}

  deploy-stage:
    name: Deploy Branch Infrastructure
    secrets: inherit
    needs: [handle-docker-image]
    uses: ./.github/workflows/aws-terraform.yml
    with:
      docker_image: ${{ needs.handle-docker-image.outputs.runner_image_name }}
      github_environment: ${{ vars.ENVIRONMENT_GITHUB_STAGE }}
      deployment_environment: ${{ vars.ENVIRONMENT_GITHUB_STAGE }}
      aws_region: ap-south-1
      tf_action: apply
